// Navigation code here

.navContainer {
    .lockNavBar();

    nav {
        .flex(column, space-evenly, center);
        margin-top: 1%;

        .navItemContainer {
            .flex(row, space-evenly, center);
            width: 35%;

            @media @phone {
            width: 85%;
            }

            a {
                font-size: 1.6rem;
                padding: 3% 0%;
                .navDecoration(none, black);
            }
        }
    }
}

.mainHeader-img {
    width: 100%;
    border-radius: 10px;
}