// Navigation code here

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;

    .navItemContainer {
        display: flex;
        justify-content: space-evenly;
        width: 35%;

        a {
            font-size: 1.6rem;
            padding: 3% 0%;
            text-decoration: none;
            color: black;
        }
    }
}

.mainHeader-img {
    width: 100%;
    border-radius: 10px;
}